:root { 
  // --brand: #5b8cff;
   --brand: #44506b;

  --dark: #1e1e2f;
  --light: #ffffff;
  --gray: #f5f7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, sans-serif;
}

body {
  background: var(--gray);
  color: var(--dark);
  min-height: 100vh;
}




